<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- mvc注解的模式 -->
	<!-- 配置springmvc -->
	<!-- 1.自动注册defaultAnootationHandlerMapping,AnotationMethodHanderAdapter -->
	<!-- 2提供一些列：数据绑定，数字和日期的format@numberFormat,@DateTimeFormat,xml,json默认读写支持 -->
	<mvc:annotation-driven />
	<!-- 完成视图的解析 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 扫描所有的web的所有 -->
	<context:component-scan base-package="InvitationController" />
</beans>